{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturas</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js"></script>
</head>

<body class="min-h-screen bg-gray-900 bg-opacity-100 text-white">
    <section class="bg-gray-900 p-3 sm:p-5 antialiased" style="margin-top: 4rem;">
        <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
            <div class="bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                    <div class="w-full md:w-1/2">
                        <form class="flex items-center">
                            <label for="simple-search" class="sr-only">Buscar</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor"
                                        viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <input type="text" id="simple-search"
                                    class="border border-gray-300 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 bg-gray-700 placeholder-gray-400 text-white"
                                    placeholder="Buscar facturas" required>
                            </div>
                        </form>
                    </div>
                </div>
            
                <!-- Tabla principal listado de ventas !! -->
                <div class="overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-400">
                        <thead class="text-xs text-white-700 uppercase bg-gray-700">
                            <tr>
                                <th scope="col" class="px-4 py-4">N° Comprobante</th>
                                <th scope="col" class="px-4 py-4">Fecha Emisión</th>
                                <th scope="col" class="px-4 py-3">Cliente</th>
                                <th scope="col" class="px-4 py-3">Edificio</th>
                                <th scope="col" class="px-4 py-3">Ticket</th>
                                <th scope="col" class="px-4 py-3">Estado de Pago</th>
                                <th scope="col" class="px-4 py-3">
                                    <span class="sr-only">Actions</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, factura in facturas.items %}
                            <tr class="border-b">
                                <td class="px-4 py-3">{{ factura.numero_comprobante }}</td>
                                <td class="px-4 py-3">{{ factura.fecha_emision_factura }}</td>
                                <td class="px-4 py-3">{{ factura.nombre_cliente }} {{ factura.apellido_cliente }}</td>
                                <td class="px-4 py-3">{{ factura.nombre_edificio }}</td>
                                <td class="px-4 py-3">
                                    <a href="{{ factura.descarga_ticket }}" class="text-blue-500 hover:underline" target="_blank">Descargar</a>

                                </td>
                                <td class="px-4 py-3">{{ factura.descripcion_estado_factura }}</td>
                                <td class="px-4 py-3 flex items-center justify-end">
                                    <button id="{{key}}-dropdown-button" data-dropdown-toggle="{{key}}-dropdown" class="inline-flex items-center text-sm font-medium hover:bg-gray-100 dark:hover:bg-gray-700 p-1.5 dark:hover-bg-gray-800 text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" type="button">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                        </svg>
                                    </button>
                                    <div id="{{key}}-dropdown" class="hidden z-10 w-44  bg-white rounded divide-y divide-gray-100 shadow dark:divide-gray-600">
                                        <ul class="py-1 text-sm" aria-labelledby="{{key}}-dropdown-button">
                                            <li>
                                                <button type="button" data-modal-target="editarFacturaModal_{{ key }}" data-modal-toggle="editarFacturaModal_{{ key }}" class="flex w-full items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark: hover:text-gray-900 text-gray-700 dark:text-gray-200">
                                                    <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
                                                    </svg>
                                                    Cambiar Estado
                                                </button>
                                            </li>

                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Paginación HTML -->
                {% include 'paginacion.html' %}
            </div>
        </div>
    </section>
    <!-- Enlace de pago 
<div class="mt-4">
    <a href="{{ payment_link }}" class="text-blue-500 hover:underline" target="_blank">Generar Link de Pago</a>
</div> -->

<!-- Update model -->
{% for key, factura in facturas.items %}
<div id="editarFacturaModal_{{ key }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 items-center justify-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative p-4 rounded-lg shadow bg-gray-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-white">Cambiar Estado</h3>
                <button type="button" class="text-gray-200 bg-transparent hover:text-gray-700 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="editarFacturaModal_{{ key }}">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Cerrar</span>
                </button>
            </div>
            <!-- Modal body -->
             <!-- agregar la accion y hacer la funcion de editar estado de pago -->
            <form id="editarFacturaModal_{{ key }}"  method="POST" action="{% url 'facturas:actualizar_estado_factura' key %}">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    {% csrf_token %}
                    <div>
                        <label for="estado_factura_editar" class="block mb-2 text-sm font-medium text-white">Estado</label>
                        <select name="id_estado_factura" class="px-4 py-2 border rounded">
                            <option value="1" {% if factura.id_estado_factura == 1 %}selected{% endif %}>Pendiente</option>
                            <option value="2" {% if factura.id_estado_factura == 2 %}selected{% endif %}>Pagado</option>
                            <option value="3" {% if factura.id_estado_factura == 3 %}selected{% endif %}>En Proceso (A plazos) </option>
                        </select>
                        
                    </div>
                
                <div class="flex justify-end mb-4">
                    <button type="submit" class="text-white bg-purple-800 inline-flex items-center hover:bg-purple-900 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        <svg class="mr-1 w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                        </svg>
                        Actualizar 
                    </button>
                </div>     
            </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
</body>
</html>
{% endblock %}