{% extends 'layout.html' %} {% block content %}

<head>
  <title>Servicios</title>
  
  {% load static %}
  

  <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/05c2be17c9.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/validaciones_servicios.js' %}"></script>

 
  
  <style>
    .modal {
        display: none;
        position: fixed;
        inset: 0;
        z-index: 1000;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
    }
    .modal-content {
        background: white;
        padding: 1rem;
        border-radius: 0.5rem;
        max-width: 600px;
        width: 100%;
    }
    .modal.show {
        display: flex;
    }
    .form-group {
        margin-bottom: 2rem; /* Ajustar el margen inferior para más espacio entre grupos */
    }
    .invalid-feedback {
        display: none;
        color: red;
        margin-top: 0.5rem; /* Añadir margen superior para separarlo del input */
    }
    .is-invalid ~ .invalid-feedback {
        display: block;
    }
    /* Estilo para el placeholder en los campos de entrada */
    ::placeholder {
      color: #aaa;
      opacity: 1; /* Asegura que el color se aplique con la opacidad correcta */
    }
    

</style>


</head>
<body>
<!-- Small Modal -->
<div id="small-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                <h3 class="text-xl font-medium text-gray-900">
                    ANUNCIO
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="small-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-base leading-relaxed text-gray-500">
                            {{ message }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b">
                <button data-modal-hide="small-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Aceptar</button>
            </div>
        </div>
    </div>
</div>



<div class="container mx-auto p-5">
    <div class="flex items-center justify-between mb-4 mt-8">
        <h2 class="text-2xl font-bold mb-4 text-white">Categoría de Servicios</h2>
        <div class="btn-group flex space-x-2" role="group" aria-label="Botones de acción">
            <button id="defaultModalButton" class="block text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 text-right" onclick="document.getElementById('addCategoriaModal').classList.toggle('show')" type="button">
              Agregar Categoría
            </button>
            <button id="defaultModalButton" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-right" onclick="document.getElementById('aumentarPrecioModal').classList.toggle('show')" type="button">
              Aumentar Precio Base
            </button>
          </div>
    </div>
    
    <!-- Add Categoria Modal -->
    <div id="addCategoriaModal" class="modal ">
        <div class="modal-content p-6 rounded-lg shadow-lg" style="background-color: #2d3748; color: rgb(255, 255, 255);">
            
            <div class="flex justify-between items-center mb-4">
                
                <h5 class="text-lg">Agregar Categoria </h5>
                <button type="button" class="text-white" onclick="document.getElementById('addCategoriaModal').classList.remove('show')">&times;</button>
            </div>
            <div>
                <form id="agregarCategoriaForm" action="{% url 'servicios:agregarCategoria' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="categoria" class="block mb-1">Categoria:</label>
                        <input type="text" class="w-full px-3 py-2 bg-gray-900 border border-gray-800 rounded-md" id="categoria" name="categoria" placeholder="Ingrese el nombre de la categoria" required>
                        <div class="invalid-feedback text-red-500 mt-1"></div>
                    </div>
                    <div class="flex justify-end">
                        <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded-md mr-2" onclick="document.getElementById('addCategoriaModal').classList.remove('show')">Cerrar</button>
                        <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md">Agregar Categoria</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
<!-- Aumentar Precio Modal -->
<div id="aumentarPrecioModal" class="modal ">
    <div class="modal-content p-6 rounded-lg shadow-lg" style="background-color: #2d3748; color: rgb(255, 255, 255);">
        
        <div class="flex justify-between items-center mb-4">
            
            <h5 class="text-lg">Aumentar Precio de {{categoria.nombre_categoria_servicio}} </h5>
            <button type="button" class="text-white" onclick="document.getElementById('aumentarPrecioModal').classList.remove('show')">&times;</button>
        </div>
        <div>
            <form id="aumentarPrecioForm" action="{% url 'servicios:aumentarPrecio' %}" method="POST">
                {% csrf_token %}
                <div class="mb-4">
                    <select class="w-1/3 px-3 py-2 border border-gray-300 rounded-md bg-gray-700 text-white" id="categoria" name="categoria" required>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id_categoria_servicio }}">{{ categoria.nombre_categoria_servicio }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label for="porcentaje_aumento" class="block mb-1">Porcentaje:</label>
                    <input type="text" class="w-full px-3 py-2 bg-gray-900 border border-gray-800 rounded-md" id="porcentaje_aumento" name="porcentaje_aumento" placeholder="Ingrese el % que desea aumentar" required>
                    <div class="invalid-feedback text-red-500 mt-1"></div>
                </div>
                <div class="flex justify-end">
                    <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded-md mr-2" onclick="document.getElementById('aumentarPrecioModal').classList.remove('show')">Cerrar</button>
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
    
</div>

    {% for categoria in categorias %}
    <div id="accordion-arrow-icon-{{ forloop.counter }}" data-accordion="collapse">
        <h2 id="accordion-arrow-icon-heading-{{ forloop.counter }}">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-gray-900 bg-gray-900 border border-b-0 border-gray-800 rounded-t-xl focus:ring-4 focus:ring-gray-800" 
                data-accordion-target="#accordion-arrow-icon-body-{{ forloop.counter }}" 
                aria-expanded="true" 
                aria-controls="accordion-arrow-icon-body-{{ forloop.counter }}">
                <span>{{ categoria.nombre_categoria_servicio }} </span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        
        <div id="accordion-arrow-icon-body-{{ forloop.counter }}" class="hidden bg-gray-800"  aria-labelledby="accordion-arrow-icon-heading-{{ forloop.counter }}">
            <div class="p-5 border border-b-0 border-gray-700 bg-gray-900">
                <div class="flex justify-end items-center mb-6 space-x-2">
                    <!-- Button trigger modal -->
                    <a href="eliminarCategoria/{{categoria.id_categoria_servicio}}" 
           onclick="return confirm('¿Está seguro de que desea eliminar esta categoría?');"
           class="block text-white bg-red-800 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 text-right">
           Eliminar Categoría de {{categoria.nombre_categoria_servicio}}
        </a>
                    <button id="defaultModalButton-{{ forloop.counter }}" class="block text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 text-right" onclick="document.getElementById('addServicioModal-{{ forloop.counter }}').classList.toggle('show')" type="button">
                        Agregar Servicio a {{categoria.nombre_categoria_servicio}}
                      </button>
                  </div>
        
                  <!-- Add Servicio Modal -->
        <div id="addServicioModal-{{ forloop.counter }}" class="modal hidden">
            <div class="modal-content p-6 rounded-lg shadow-lg" style="background-color: #2d3748; color: rgb(255, 255, 255);">
                <div class="flex justify-between items-center mb-4">
                    <h5 class="text-lg">Agregar Servicio </h5>
                    <button type="button" class="text-white" onclick="document.getElementById('addServicioModal-{{ forloop.counter }}').classList.remove('show')">&times;</button>
                </div>
                <div>
                    <form id="agregarServicioForm-{{ forloop.counter }}" action="{% url 'servicios:agregarServicio' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="nombre_servicio" class="block mb-1">Servicio:</label>
                            <input type="text" class="w-full px-3 py-2 bg-gray-900 border border-gray-800 rounded-md" id="nombre_servicio-{{ forloop.counter }}" name="nombre_servicio" placeholder="Ingrese el nombre del servicio" required>
                            <div id="errorNombre-{{ forloop.counter }}" class="text-red-500 text-sm font-semibold mt-1 hidden"></div>
                        </div>
                        <div class="mb-4">
                            <label for="requiere_pago" class="block mb-1">¿Requiere pago?</label>
                            <div class="col-sm-9">
                                <select class="w-1/3 px-3 py-2 border border-gray-300 rounded-md bg-gray-700 text-white" id="requiere_pago-{{ forloop.counter }}" name="requiere_pago" required>
                                    <option value="1">Sí</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="precio_base_servicio" class="block mb-1">Precio Base:</label>
                            <input type="number" step="0.01" class="w-full px-3 py-2 bg-gray-900 border border-gray-800 rounded-md" id="precio_base_servicio-{{ forloop.counter }}" name="precio_base_servicio" placeholder="Ingrese el precio base del servicio" required>
                            <div id="errorPrecioBase-{{ forloop.counter }}" class="text-red-500 text-sm font-semibold mt-1 hidden"></div>
                        </div>
                        <div class="flex justify-end">
                            <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded-md mr-2" onclick="document.getElementById('addServicioModal-{{ forloop.counter }}').classList.remove('show')">Cerrar</button>
                            <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md">Agregar Servicio</button>
                        </div>
                        <input type="hidden" id="categoria_id" name="categoria_id" value="{{ categoria.id_categoria_servicio }}">
                    </form>
                </div>
            </div>
        </div>
                <table class="min-w-full bg-gray-800 text-white">
                    <thead>
                        <tr style="text-align: left;">
                            <th>Servicio</th>
                            <th>Requiere pago</th>
                            <th>Precio Base</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for servicio in categoria.servicios.all  %}
                        
                        {%if servicio.estado_servicio == 1 %}
                    
                            <tr>
                                <td>{{ servicio.nombre_servicio }} </td>
                                <td>{{ servicio.requiere_pago_servicio|yesno:"Sí,No" }}</td>
                                <td>{{ servicio.precio_base_servicio|default:"-" }}</td>
                                <td>
                                    <div class="flex items-center space-x-2">
                                        <a class="btn btn-eliminar" data-id="{{ servicio.id_servicio }}" href="eliminarServicio/{{servicio.id_servicio}}" onclick="return confirm('¿Está seguro de que desea dar de baja este servicio?');">
                                            <img class="delete" alt="" src="{% static 'public/delete.svg' %}"/>
                                        </a>
                                        <button id="defaultModalButton" class="block text-white focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-md px-2 py-2 text-right" onclick="document.getElementById('editServicioModal{{ servicio.id_servicio }}').classList.add('show')" type="button">
                                            <img class="edit icon" alt="" src="{% static 'public/edit.svg' %}" />
                                        </button>
                                        </div>

                                        <!-- Editar Servicio Modal -->
                                    <div id="editServicioModal{{ servicio.id_servicio }}" class="modal">
                                        <div class="modal-content p-6 rounded-lg shadow-lg" style="background-color: #2d3748; color: rgb(255, 255, 255);">
                                        <div class="flex justify-between items-center mb-4">
                                            <h5 class="text-lg">Editar Servicio</h5>
                                            <button type="button" class="text-white" onclick="document.getElementById('editServicioModal{{ servicio.id_servicio }}').classList.remove('show')">&times;</button>
                                        </div>
                                        <div>
                                            <form id="editServicioModal{{ servicio.id_servicio }}" action="{% url 'servicios:editarServicio' servicio.id_servicio %}" method="POST">
                                                {% csrf_token %}
                                                <div class="mb-4">
                                                    <label for="nombre_servicio_{{ servicio.id_servicio }}" class="block mb-1">Servicio:</label>
                                                    <!-- Aquí corregí el atributo id con las llaves {{ servicio.id_servicio }} -->
                                                    <input type="text" class="w-full px-3 py-2 border border-gray-600 bg-gray-700 text-white placeholder-white rounded-md" 
                                                           id="nombre_servicio_{{ servicio.id_servicio }}" name="nombre_servicio" value="{{ servicio.nombre_servicio }}" required placeholder="Ingrese el nombre del servicio">
                                                    
                                                    <!-- Corregí el id en el div de error también -->
                                                    <div id="errorNombre_{{ servicio.id_servicio }}" class="text-red-500 text-sm font-semibold mt-1 hidden"></div>
                                                    
                                                </div>
                                                <div class="mb-4">
                                                    <select class="w-1/3 px-3 py-2 border border-gray-300 rounded-md bg-gray-700 text-white" id="requiere_pago" name="requiere_pago" required>
                                                        <option value="1" {% if servicio.requiere_pago_servicio %} selected {% endif %}>Sí</option>
                                                        <option value="0" {% if not servicio.requiere_pago_servicio %} selected {% endif %}>No</option>
                                                    </select>
                                                </div>
                                                <div class="mb-4">
                                                    <label for="precio_base_servicio" class="block mb-1">Precio Base:</label>
                                                    <input type="text" class="w-full px-3 py-2 border border-gray-600 bg-gray-700 text-white placeholder-white rounded-md"
                                                    id="precio_base_servicio" name="precio_base_servicio"
                                                    value="{{ servicio.precio_base_servicio|default:'0.00'|floatformat:2 }}"
                                                    required placeholder="Ingrese el precio de base">
                                                    <div id="errorPrecioBase_{{ servicio.id_servicio }}" class="text-red-500 text-sm font-semibold mt-1 hidden"></div>
                                                </div>
                                                <div class="mb-4">
                                                    <label for="categoria_servicio" class="col-sm-3 col-form-label">Categoría de servicio:</label>
                                                    <div class="col-sm-9">
                                                        <select class="w-1/3 px-3 py-2 border border-gray-300 rounded-md bg-gray-700 text-white" id="categoria_servicio" name="categoria_servicio" required>
                                                            {% for categoria in categorias %}
                                                            <option value="{{ categoria.id_categoria_servicio }}" 
                                                            {% if categoria.id_categoria_servicio == servicio.id_categoria_servicio_id %} 
                                                                selected 
                                                            {% endif %}>
                                                            {{ categoria.nombre_categoria_servicio }}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="flex justify-end">
                                                    <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded-md mr-2" onclick="document.getElementById('editServicioModal{{ servicio.id_servicio }}').classList.remove('show')">Cerrar</button>
                                                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md">Guardar Cambios</button>
                                                </div>
                                            </form>                                            
                                        </div>
                                        </div>
                                    </div>

                                    </div>
                       
    </div>
                                </td>
                                {% endif %}
                            </tr>
                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<div id="messages-data" data-has-messages="{% if messages %}true{% else %}false{% endif %}" style="display: none;"></div>
</body>
<script>
    function showModal() {
        const modal = document.getElementById('small-modal');
        modal.classList.remove('hidden');
    }

    function hideModal() {
        const modal = document.getElementById('small-modal');
        modal.classList.add('hidden');
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Read the has-messages value from the data attribute
        const messagesData = document.getElementById('messages-data');
        const hasMessages = messagesData.dataset.hasMessages === 'true';
        

        if (hasMessages) {
            showModal();
        }

        // Agregar evento de clic al botón de cerrar
        const closeButtons = document.querySelectorAll('[data-modal-hide="small-modal"]');
        closeButtons.forEach(button => {
            button.addEventListener('click', hideModal);
        });

        // Cerrar el modal al hacer clic fuera de él
        window.addEventListener('click', function(event) {
            const modal = document.getElementById('small-modal');
            if (event.target === modal) {
                hideModal();
            }
        });
    });
</script>
</body>
{% endblock %}