{% extends 'layout.html' %} {% block content %}

<head>
  <title>Servicios</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/serviciosviews.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/05c2be17c9.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/servicios.js' %}"></script>
  <script src="{% static 'js/validaciones_servicios.js' %}"></script>

  <style>
    .form-group {
        margin-bottom: 2rem; 
    }
    .invalid-feedback {
        display: none;
        color: red;
        margin-top: 0.5rem; 
    }
    .is-invalid ~ .invalid-feedback {
        display: block;
    }
    .d-flex.align-items-center {
        flex-direction: column;
        align-items: flex-start;
    }
    .d-flex.align-items-center > .form-control {
        width: 100%;
    }
</style>

</head>

<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content bg-success text-white"> 
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="message-content">
              <div id="messages-container">
                  {% if messages %}
                      {% for message in messages %}
                          <div class="message text-success">{{ message }}</div>
                      {% endfor %}
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
</div>

<div class="navbar navbar-expand-lg " id="searchbar">
  <div class="navbar bg-dark">
    <form class="form-inline" action="{% url 'servicios:buscar_servicio_categoria' %}" method="GET">
      <input class="input-search form-control mr-sm-2" name="buscar" type="search" placeholder="Buscar categoría o servicio" aria-label="Search">
      <button class="btn btn-outline-dark" type="submit">
        <img
          class="menu-svgrepo-com-1-1"
          alt=""
          src="{% static 'public/search.svg' %}"
        />
      </button>
    </form>
  </div>
</div>

{% if serviciosBusqueda or categoriasBusqueda %}
    <h3>Resultados de la búsqueda:</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>¿Requiere pago?</th>
                <th>Precio Base</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in serviciosBusqueda %}
                <tr>  
                    <td>Servicio</td>
                    <td>{{ servicio.nombre_servicio }}</td>
                    <td>{% if servicio.requiere_pago_servicio %}
                      Sí
                    {% else %}
                      No
                    {% endif %}</td>
                    <td>{{ servicio.precio_base_servicio|default:"-"  }}</td>
                    <td>{{ servicio.id_categoria_servicio.nombre_categoria_servicio }}</td>
                </tr>
            {% endfor %}
            {% for categoria in categoriasBusqueda %}
                <tr>
                    <td>Categoría</td>
                    <td>{{ categoria.nombre_categoria_servicio }}</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% elif serviciosBusqueda or categoriasBusqueda is not None %}
    <p>No se encontraron resultados.</p>
{% endif %}

{% if not serviciosBusqueda or categoriasBusqueda %}
<div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
  <div class="group">
    <h2 class="text-light">Categoría de Servicios</h2>
    <div class="btn-group" role="group" aria-label="Botones de acción">
      <button type="button" class="btn btn-success btn-categoria btn-agregar" data-bs-toggle="modal" data-bs-target="#agregarCategoriaModal">
        Agregar Categoría
      </button>
      <button type="button" class="btn btn-secondary btn-categoria btn-agregar" data-bs-toggle="modal" data-bs-target="#aumentarPrecioModal{{ categoria.id_categoria_servicio }}">
        Aumentar Precio Base
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="agregarCategoriaModal" tabindex="-1" aria-labelledby="agregarCategoriaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light" id="exampleModalLabel">Agregar Categoría de Servicio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark text-light">
        <form id="agregarCategoriaForm" action="{% url 'servicios:agregarCategoria' %}" method="POST"> {% csrf_token %}
          <div class="form-group row mb-3">
            <label for="categoria" class="col-sm-3 col-form-label">Nombre de la categoría:</label>
            <div class="col-sm-9 d-flex align-items-center"> 
              <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Ingrese la categoría" minlength="4" required>
              <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="modal-footer bg-dark text-light">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success">Agregar categoría</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="aumentarPrecioModal" tabindex="-1" aria-labelledby="aumentarPrecioModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header bg-dark">
              <h5 class="modal-title text-light" id="aumentarPrecioModalLabel">Aumentar Precio Base</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body bg-dark text-light">
            <form id="form-aumentar-precio" method="post" action="{% url 'servicios:aumentarPrecio' %}">
              {% csrf_token %}
                  <div class="form-group row mb-3">
                      <label for="categoria" class="col-sm-3 col-form-label">Categoría:</label>
                      <div class="col-sm-9">
                          <select class="form-control" id="categoria" name="categoria" required>
                              {% for categoria in categorias %}
                                  <option value="{{ categoria.id_categoria_servicio }}">{{ categoria.nombre_categoria_servicio }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                    <div class="form-group row mb-3">
                        <label for="porcentaje_aumento" class="col-sm-3 col-form-label">Porcentaje de Aumento:</label>
                        <div class="col-sm-9">
                          <input type="number" class="form-control" id="porcentaje_aumento" name="porcentaje_aumento" placeholder="Ingrese el porcentaje de aumento" required min="1" value="1">
                        </div>
                    </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="submit" class="btn btn-success">Guardar cambios</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

  </div>
  {% for categoria in categorias %}
  <div class="accordion-item ">
    <h2 class="accordion-header" id="panelsStayOpen-heading{{ categoria.id_categoria_servicio }}">
      <button id="bg-btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ categoria.id_categoria_servicio }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ categoria.id_categoria_servicio }}" style="color: #ffffff !important;">
        {{ categoria.nombre_categoria_servicio }}
      </button>
    </h2>
    <div id="panelsStayOpen-collapse{{ categoria.id_categoria_servicio }}" class="accordion-collapse bg-dark collapse {% if forloop.first %}show{% endif %}" aria-labelledby="panelsStayOpen-heading{{ categoria.id_categoria_servicio }}">
      <button type="button" class="btn btn-success btn-agregar" data-bs-toggle="modal" data-bs-target="#agregarServicioModal{{ categoria.id_categoria_servicio }}">
        Agregar Servicio a {{ categoria.nombre_categoria_servicio}}
      </button>

      <div class="modal fade" id="agregarServicioModal{{ categoria.id_categoria_servicio }}" tabindex="-1" aria-labelledby="agregarServicioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-dark text-light">
              <h5 class="modal-title" id="agregarServicioModalLabel">Agregar Servicio a {{ categoria.nombre_categoria_servicio}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark text-light">
              <form id="agregarServicioForm" action="agregarServicio/" method="POST"> 
                {% csrf_token %}
                <div class="form-group row mb-3">
                  <label for="nombre_servicio" class="col-sm-3 col-form-label">Nombre del Servicio:</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="nombre_servicio" name="nombre_servicio" placeholder="Ingrese el nombre" minlength="4" required>
                    <div class="invalid-feedback"></div>
                  </div>
                </div>
                <div class="form-group row mb-3">
                  <label for="requiere_pago_agregar" class="col-sm-3 col-form-label">¿Requiere pago?</label>
                  <div class="col-sm-9">
                    <select class="form-control bg-dark text-light" id="requiere_pago_agregar" name="requiere_pago" required>
                      <option value="1">Sí</option>
                      <option value="0">No</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row mb-3">
                  <label for="precio_base_agregar" class="col-sm-3 col-form-label">Precio Base:</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" id="precio_base_agregar" name="precio_base" placeholder="Ingrese el precio base" required min="0">
                  </div>
                </div>
                <div class="form-group row mb-3">
                  <label for="categoria_servicio" class="col-sm-3 col-form-label">Categoría de servicio:</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="categoria_servicio" name="categoria_servicio" value="{{ categoria.nombre_categoria_servicio }}" readonly>
                    <input type="hidden" name="categoria_id" value="{{ categoria.id_categoria_servicio }}">
                  </div>
                </div>
                <div class="modal-footer bg-dark text-light">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-success">Agregar Servicio</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      

      <a class="btn btn-danger btn-agregar" href="eliminarCategoria/{{categoria.id_categoria_servicio}}" onclick="return confirm('¿Está seguro de que desea eliminar esta categoría?');">Eliminar Categoría de {{categoria.nombre_categoria_servicio}}</a>
      <div class="accordion-body">
        <table class="table table-dark">
          <thead>
              <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">¿Requiere pago?</th>
                  <th scope="col">Precio Base</th>
                  <th scope="col">Acciones</th>
              </tr>
          </thead>
          <tbody id="tabla-resultados">
            {% for servicio in categoria.servicio_set.all %}
              <tr>
                  <td>{{ servicio.nombre_servicio }}</td>
                  <td> {% if servicio.requiere_pago_servicio %}
                    Sí
                  {% else %}
                    No
                  {% endif %}</td>
                  <td>{{ servicio.precio_base_servicio|default:"-"  }}</td>
                  <td>
                    
                  
<button type="button" class="btn btn-modificar" data-id="{{ servicio.id_servicio }}" data-categoria="{{ servicio.categoria.id_categoria_servicio }}" data-bs-toggle="modal" data-bs-target="#modificarServicioModal{{ servicio.id_servicio }}">
                      <img class="edit icon" alt="" src="{% static 'public/edit.svg' %}" />
                  </button>
                  
<div class="modal fade" id="modificarServicioModal{{ servicio.id_servicio }}" tabindex="-1" aria-labelledby="modificarServicioModal{{ servicio.id_servicio }}" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header bg-dark text-light">
                                  <h5 class="modal-title" id="exampleModalLabel">Modificar Servicio de {{ servicio.nombre_servicio }}</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  
                              </div>
                              <div class="modal-body bg-dark text-light">
                                  <form id="editarServicioForm"  action="{% url 'servicios:editar_servicio' servicio.id_servicio %}" method="POST">
                                      {% csrf_token %}
                                      <div class="form-group row mb-3">
                                          <label for="nombre_servicio" class="col-sm-3 col-form-label">Nombre del Servicio:</label>
                                          <div class="col-sm-9">
                                              <input value="{{ servicio.nombre_servicio }}" type="text" class="form-control" id="nombre_servicio_editar" name="nombre_servicio" placeholder="Ingrese el nombre" minlength="4" required>
                                          </div>
                                      </div>
                                      <div class="form-group row mb-3">
                                          <label for="requiere_pago_editar" class="col-sm-3 col-form-label">¿Requiere pago?</label>
                                          <div class="col-sm-9">
                                              <select class="form-control" id="requiere_pago_editar" name="requiere_pago_editar" required>
                                                  <option value="1" {% if servicio.requiere_pago_servicio %} selected {% endif %}>Sí</option>
                                                  <option value="0" {% if not servicio.requiere_pago_servicio %} selected {% endif %}>No</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group row mb-3">
                                        <label for="precio_base_editar" class="col-sm-3 col-form-label">Precio Base:</label>
                                        <div class="col-sm-9 d-flex align-items-center">
                                            <input value="{{ servicio.precio_base_servicio }}" type="number" class="form-control" id="precio_base_editar" name="precio_base" placeholder="Ingrese el precio base" required min="0">
                                        </div>
                                    </div>
                                      <div class="form-group row mb-3">
                                          <label for="categoria_servicio" class="col-sm-3 col-form-label">Categoría de servicio:</label>
                                          <div class="col-sm-9">
                                              <select class="form-control" id="categoria_servicio" name="categoria_servicio" required>
                                                  {% for categoria in categorias %}
                                                  <option value="{{ categoria.id_categoria_servicio }}" 
                                                  {% if categoria.id_categoria_servicio == servicio.id_categoria_servicio_id %} 
                                                      selected 
                                                  {% endif %}>
                                                  {{ categoria.nombre_categoria_servicio }}
                                              </option>
                                                  {% endfor %}
                                              </select>
                                              
                                          </div>
                                          
                                      </div>
                                      <div class="modal-footer bg-dark text-light">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                          <button type="submit" class="btn btn-success">Editar Servicio</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                      
                      <a class="btn btn-eliminar" data-id="{{ servicio.id_servicio }}" href="eliminarServicio/{{servicio.id_servicio}}" onclick="return confirm('¿Está seguro de que desea eliminar este servicio?');">
                        <img
          class="delete"
          alt=""
          src="{% static 'public/delete.svg' %}"
        />
                      </a>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      </div>
    </div>
  </div>
  {% endfor %}
</div>  
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var messageModal = new bootstrap.Modal(document.getElementById('messageModal'));

      function showMessage(message) {
          var messageContent = document.getElementById('message-content');
          messageContent.innerHTML = message;
          messageModal.show();

          setTimeout(function() {
              messageModal.hide();
          }, 5000); // Oculta el modal después de 5 segundos
      }

      // Verifica si hay mensajes para mostrar
      var messages = document.querySelectorAll('.message');
      if (messages.length > 0) {
          messages.forEach(function(message) {
              showMessage(message.textContent);
          });
      }
  });
  
</script>
{% endblock %}