body {
    font-family: 'Inter', sans-serif;
    background-image: url('https://i.pinimg.com/originals/dc/0d/1c/dc0d1cca65b1525d3f5223728ef7e268.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.reset-form {
    background-color: rgba(52, 58, 64, 0.8); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 350px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

h2 {
    color: #e9e9e9;
    margin-bottom: 20px;
}

.centered-label {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    display: block; 
    width: 100%; 
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 9px;
}

button[type="submit"] {
    background-color: #0b69ce;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: #ff6666;
    margin-top: -15px;
    margin-bottom: 15px;
    text-align: center;
}