{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <link
      href="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.js"></script>
    {% tailwind_css %}
  </head>
  <body class="min-h-screen flex flex-col">
  <style>
    main {
      margin-top: 4rem; 
    }
  
    #containerSidebar {
      top: 3rem; 
    }
  
    ul.breadcrumb li + li::before {
      content: "\276F";
      padding-left: 8px;
      padding-right: 4px;
      color: inherit;
    }
  
    ul.breadcrumb li span {
      opacity: 60%;
    }
  
    #sidebar {
      position: fixed; /* Hace que el sidebar sea fijo */
      top: 4rem; /* Ajusta para que no se superponga con el navbar */
      left: 0; /* Mantiene el sidebar a la izquierda */
      width: 80%; /* Puedes ajustar el ancho según lo necesites */
      max-width: 300px; /* Define un ancho máximo */
      height: 100vh; /* El sidebar ocupa todo el alto de la pantalla */
      background-color: #1f2937; /* Color de fondo del sidebar */
      overflow-y: auto; /* Permite el desplazamiento dentro del sidebar si es necesario */
      -webkit-transition: all 300ms cubic-bezier(0, 0.77, 0.58, 1);
      transition: all 300ms cubic-bezier(0, 0.77, 0.58, 1);
    }
  
    #sidebar.show {
      transform: translateX(0);
    }
  
    #sidebar ul li a.active {
      background: #1f2937;
      background-color: #1f2937;
    }

  </style>
  
    <!-- Navbar start -->
    <nav id="navbar" class="fixed top-0 z-40 w-full flex justify-between bg-gray-800 px-4 py-1" style="height: 3rem;">
      <button id="btnSidebarToggler" type="button" class="text-2xl text-white hover:text-gray-200">
        <svg id="navClosed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
        </svg>
        <svg id="navOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-8 w-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
      <ul class="breadcrumb flex justify-end items-center text-lg text-white w-full">
        <li class="inline">
          <p class="text-right text-sm sm:text-lg">Bienvenido, {{ request.user }}</p>
        </li>
      </ul>
    </nav>
    
    <!-- Navbar end -->

    <div id="containerSidebar" class="z-40">
      <div class="navbar-menu relative z-40">
        <nav id="sidebar" class="fixed left-0 bottom-0 flex w-2/3 -translate-x-full flex-col overflow-y-auto bg-gray-800 pt-6 pb-8 sm:max-w-xs lg:w-80">
          <div class="pb-24">
            <ul class="text-sm font-medium">
    
              <!-- Siempre visible para superuser -->
              {% if user.is_superuser %}
                <li>
                  <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-700 hover:border-l-4 hover:border-blue-700" href="{% url 'inicio:listarActividades' %}">
                    <img class="activities-icon" src="{% static 'public/activities.svg' %}" alt="" />
                    <span class="ml-3">Últimas Actividades</span>
                  </a>
                </li>
    
                <li>
                  <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-700 hover:border-l-4 hover:border-blue-700" href="{% url 'empleados:home' %}">
                    <img class="empleados-1-icon" src="{% static 'public/vendedores-1.svg' %}" alt="" />
                    <span class="ml-3">Empleados</span>
                  </a>
                </li>
    
                <li>
                  <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-700 hover:border-l-4 hover:border-blue-700" href="{% url 'servicios:home' %}">
                    <img class="vuesaxlinearmenu-icon" src="{% static 'public/servicios-1.svg' %}" alt="" />
                    <span class="ml-3">Servicios</span>
                  </a>
                </li>
              {% endif %}
    
              <!-- Sección visible para Vendedor -->
              {% if 'Vendedor' in grupos_usuario or user.is_superuser %}
                <li>
                  <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-700 hover:border-l-4 hover:border-blue-700" href="{% url 'clientes:listarClientes' %}">
                    <img class="clients-1-icon" src="{% static 'public/clients-1.svg' %}" alt="" />
                    <span class="ml-3">Clientes</span>
                  </a>
                </li>
    
                <li>
                  <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-700 hover:border-l-4 hover:border-blue-700" href="{% url 'presupuestos:home' %}">
                    <img class="vuesaxoutlinemessages-2-icon" src="{% static 'public/preventas-1.svg' %}" alt="" />
                    <span class="ml-3">Presupuestos</span>
                  </a>
                </li>
              {% endif %}
    
              <!-- Sección visible para Asesor de Ventas -->
              {% if 'Asesor de Ventas' in grupos_usuario or user.is_superuser %}
                <li>
                  <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-700 hover:border-l-4 hover:border-blue-700" href="{% url 'ventas:home' %}">
                    <img class="ventas-1-icon" src="{% static 'public/ventas-1.svg' %}" alt="" />
                    <span class="ml-3">Ventas</span>
                  </a>
                </li>
              {% endif %}
    
              <!-- Sección visible para Facturador -->
              {% if 'Facturador' in grupos_usuario or user.is_superuser %}
                <li>
                  <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-700 hover:border-l-4 hover:border-blue-700" href="{% url 'facturas:listarFacturas' %}">
                    <img class="vuesaxlinearmenu-icon" src="{% static 'public/facturacion.svg' %}" alt="" />
                    <span class="ml-3">Facturas</span>
                  </a>
                </li>
              {% endif %}
    
            </ul>
          </div>
    
          <!-- Cerrar Sesión -->
          <div>
            <ul class="mb-8 text-sm font-medium">
              <li>
                <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-700 hover:border-l-4 hover:border-red-700" href="{% url 'logout' %}">
                  <img class="vuesaxlinearlogout-icon" src="{% static 'public/cerrarsesion-1.svg' %}" alt="" />
                  <span class="ml-3">Cerrar Sesión</span>
                </a>
              </li>
            </ul>
          </div>
    
        </nav>
      </div>
    </div>
    

    <main class="flex-1 mt-3 px-4 bg-gray-900">
      {% block content %}
      {% endblock %} 
    </main>

    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", () => {
      const navbar = document.getElementById("navbar");
      const sidebar = document.getElementById("sidebar");
      const btnSidebarToggler = document.getElementById("btnSidebarToggler");
      const navClosed = document.getElementById("navClosed");
      const navOpen = document.getElementById("navOpen");

      btnSidebarToggler.addEventListener("click", (e) => {
        e.preventDefault();
        sidebar.classList.toggle("show");
        navClosed.classList.toggle("hidden");
        navOpen.classList.toggle("hidden");
      });

      // Ajusta la posición del sidebar en función de la altura del navbar
      sidebar.style.top = navbar.clientHeight + "px";
    });
    </script>
  </body>
</html>