<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.js"></script>
    <script src="{% static 'js/layout.js' %}" defer></script>
    
  </head>
  <body>
    <nav >
      <div class="sidebar-header">
        <a class="link toggle"><button>
          <img
          class="menu-svgrepo-com-1-1"
          alt=""
          src="{% static 'public/menusvgrepocom-1-1.svg' %}"
        />
      </button></a>
      <div class="sidebar-links">
        <a class="logo-wrapper" href="{% url 'inicio:listarActividades' %}">
          <img
          class="mt-icon"
          alt=""
          src="{% static 'public/b5e40eca56544ebca1371dd02fd0ca93removebgpreview-2-1@2x.png' %}"
        />
      </a>
      
    </div>

    <div class="sidebar-links">
      <a class="link" href="{% url 'clientes:listarClientes' %}">
          <img
          class="clients-1-icon"
          alt=""
          src="{% static 'public/clients-1.svg' %}"
        />
        <span class="hidden">Clientes</span>
      </a>
      <a class="link">
          <img
          class="ventas-1-icon"
          alt=""
          src="{% static 'public/ventas-1.svg' %}"
        />
        <span class="hidden">Ventas</span>
      </a>
      <a class="link" href="{% url 'presupuestos:home' %}">
          <img
          class="vuesaxoutlinemessages-2-icon"
          alt=""
          src="{% static 'public/preventas-1.svg' %}"
        />
        <span class="hidden">Presupuestos</span>
      </a>
      </li>
      <a class="link" href="{% url 'vendedores:home' %}">
          <img
          class="vendedores-1-icon"
          alt=""
          src="{% static 'public/vendedores-1.svg' %}"
        />
        <span class="hidden">Vendedores</span>
      </a>
      <a class="link" href="{% url 'servicios:home' %}">
          <img
          class="vuesaxlinearmenu-icon"
          alt=""
          src="{% static 'public/servicios-1.svg' %}"
        />
        <span class="hidden">Servicios</span>
      </a>
      <a class="link" href="{% url 'logout' %}">
          <img
          class="vuesaxlinearlogout-icon"
          alt=""
          src="{% static 'public/cerrarsesion-1.svg' %}"
        />
        <span class="hidden">Cerrar Sesión</span>
      </a>
    </div>
      </div>
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
