<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Correo enviado</title>
    {% load static %}
    <link href="{% static 'css/correoEnviado.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="custom-body">
    <div class="message-container">
        <h2>Correo enviado</h2>
        <p>La dirección de correo electrónico proporcionada está asociada con una cuenta, recibirá un enlace para restablecer su contraseña.</p>
        <a href="{% url 'login' %}" class="btn btn-primary custom-button">Volver a Inicio</a>
    </div>
</body>
</html>