{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'public/building.svg' %}" type="image/x-icon">
    <title>Correo enviado</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-900 text-white flex items-center justify-center min-h-screen p-4">
    <div class="bg-gray-700 rounded p-6 shadow-lg max-w-md w-full">
        <h2 class="text-2xl font-semibold mb-4">Correo enviado</h2>
        <p class="mb-6">La dirección de correo electrónico proporcionada está asociada con una cuenta, recibirá un enlace para restablecer su contraseña.</p>
        <a href="{% url 'signin' %}" class="block w-full px-4 py-2 bg-blue-900 hover:bg-blue-700 rounded text-center mx-auto">Volver a Inicio</a>
    </div>
</body>
</html>