{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="{% static 'public/building.svg' %}"
      type="image/x-icon"
    />
    <title>Iniciar Sesión</title>
    {% tailwind_css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"></script>
  </head>
  <body>
    <div class="flex min-h-screen">
      <!-- Left side with logo -->
      <div class="w-1/2 flex items-center justify-center bg-white">
        <img src="{% static 'public/building.svg' %}" alt="logo" />
      </div>

      <!-- Right side with login form -->
      <div
        class="w-1/2 bg-gray-900 flex items-center justify-center text-white"
      >
        <div class="w-2/3 justify-between items-center">
          <div class="flex h-1 bg-gray-700 rounded"></div>
          <form action="{% url 'signin' %}" method="post" class="space-y-6">
            {% csrf_token %}

            <div>
              <label for="email" class="block text-sm font-medium"
                >Correo electrónico:</label
              >
              <input
                type="email"
                id="email"
                name="email"
                required
                class="mt-1 block w-full px-3 py-2 bg-gray-800 border border-gray-700 rounded-md text-white"
              />
            </div>

            <div>
              <label for="password" class="block text-sm font-medium"
                >Contraseña:</label
              >
              <div class="relative">
                <input
                  type="password"
                  id="password"
                  name="password"
                  required
                  class="mt-1 mb-4 block w-full px-3 py-2 bg-gray-800 border border-gray-700 rounded-md text-white pr-10"
                />
                <button
                  type="button"
                  id="togglePassword"
                  class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
                >
                  <i data-feather="eye-off" class="h-6 w-6 text-gray-300"></i>
                </button>
              </div>
            </div>

            <a
              href="{% url 'passwordReset' %}"
              class="text-sm text-blue-400 hover:underline mb-2"
              >¿Olvidaste tu contraseña?</a
            >

            <button
              type="submit"
              class="w-full px-4 py-2 bg-gray-800 hover:bg-gray-700"
            >
              Iniciar sesión
            </button>
          </form>

          {% if error %}
          <div
            class="mt-4 p-3 bg-red-700 text-white rounded-md w-full text-center"
            role="alert"
          >
            {{ error }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // Initialize Feather icons
        feather.replace();

        // Password visibility toggle
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        if (togglePassword && password) {
          togglePassword.addEventListener('click', function (e) {
            // Toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            
            // Toggle the icon
            const newIcon = type === 'password' ? 'eye-off' : 'eye';
            this.innerHTML = feather.icons[newIcon].toSvg({ class: 'h-6 w-6 text-gray-300' });
          });
        }
      });
    </script>
  </body>
</html>