{% extends 'layout.html' %} 
{% block content %}
<head>
    <link href="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.css" rel="stylesheet">
    <title> MT Soluciones </title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'presupuestos.js' %}"></script>
</head>

<div class="flex items-center justify-center min-h-screen mt-12 sm:mt-6">
    <div class="container bg-gray-800 rounded-2xl text-white p-6 mx-4 max-w-4xl">
        <h2 class="mb-4 text-xl font-bold md:text-2xl lg:text-3xl dark:text-white">Detalles de Presupuesto</h2>
        
        <div class="overflow-x-auto">
            <table class="min-w-full table-auto text-white" id="tableActividades">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">Servicio</th>
                        <th class="py-2 px-4 border-b">Cantidad</th>
                        <th class="py-2 px-4 border-b">Precio Unitario</th>
                        
                    </tr>
                </thead>
                <tbody id="tabla-resultados">
                    {% for detalle in detalle_presupuesto %}
                    <tr class="hover:bg-gray-700">
                        <td class="py-2 px-4 border-b">{{ detalle.nombre_servicio }}</td>
                        <td class="py-2 px-4 border-b">{{ detalle.cantidad_detalle_presupuesto }}</td>
                        <td class="py-2 px-4 border-b">{{ detalle.precio_unitario_detalle_presupuesto }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h1 class="mt-4 text-xl font-bold">Total: ${{ total_presupuesto }}</h1>
            <div class="mt-6"></div>
                <a href="{% url 'presupuestos:home' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Volver a Presupuestos
                </a>
            </div>

        </div>
    </div>
</div>



<script src="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.js"></script>
{% endblock %}
