{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js"></script>
    <script src="{% static 'ventas.js' %}"></script>
</head>

<body class="min-h-screen bg-gray-900 bg-opacity-100 text-white">
    <section class="bg-gray-900 p-3 sm:p-5 antialiased" style="margin-top: 4rem;">
        <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
            <div class="bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                    <div class="w-full md:w-1/2">
                        <form class="flex items-center">
                            <label for="simple-search" class="sr-only">Buscar</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor"
                                        viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <input type="text" id="simple-search"
                                    class="border border-gray-300 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 bg-gray-700 placeholder-gray-400 text-white"
                                    placeholder="Buscar ventas" required>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Tabla principal listado de ventas !! -->
                <div class="overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-400">
                        <thead class="text-xs text-white-700 uppercase bg-gray-700">
                            <tr>
                                <th scope="col" class="px-4 py-4">N° Factura</th>
                                <th scope="col" class="px-4 py-4">Fecha y Hora de Venta</th>
                                <th scope="col" class="px-4 py-3">Nombre del Edificio</th>
                                <th scope="col" class="px-4 py-3">Nombre del Empleado</th>
                                <th scope="col" class="px-4 py-3">Monto Total</th>
                                <th scope="col" class="px-4 py-3">
                                    <span class="sr-only">Acciones</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for venta in ventas %}
                            <tr class="border-b">
                                <td class="px-4 py-3">{{ venta.numero_factura }}</td>
                                <td class="px-4 py-3">{{ venta.fecha_hora_venta }}</td>
                                <td class="px-4 py-3">{{ venta.nombre_edificio }}</td>
                                <td class="px-4 py-3">{{ venta.nombre_empleado }}</td>
                                <td class="px-4 py-3">{{ venta.monto_total_venta }}</td>
                                <td class="px-4 py-3 flex items-center justify-end">
                                    <button id="{{ venta.id_venta }}-dropdown-button"
                                        data-dropdown-toggle="{{ venta.id_venta }}-dropdown"
                                        class="inline-flex items-center text-sm font-medium hover:bg-gray-100 p-1.5 text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none"
                                        type="button">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                        </svg>
                                    </button>
                                    <div id="{{ venta.id_venta }}-dropdown"
                                        class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
                                        <ul class="py-1 text-sm text-gray-700"
                                            aria-labelledby="{{ venta.id_venta }}-dropdown-button">
                                            {% if request.user.is_superuser or 'Asesor de Ventas' in grupos_usuario %}
                                            <li>
                                                <button type="button" data-modal-target="editarMetodoPagoModal-{{ venta.id_venta }}"
                                                    data-modal-toggle="editarMetodoPagoModal-{{ venta.id_venta }}"
                                                    class="flex w-full items-center py-2 px-4 hover:bg-gray-100 text-gray-700"
                                                    data-id-venta-editar="{{ venta.id_venta }}"
                                                    onclick="setupEditVentaHandlers(this)">
                                                    <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg"
                                                        viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path
                                                            d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
                                                    </svg>
                                                    Metodo Pago
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button"
                                                    data-modal-target="verVentaModal-{{ venta.id_venta }}"
                                                    data-modal-toggle="verVentaModal-{{ venta.id_venta }}"
                                                    class="flex w-full items-center py-2 px-4 hover:bg-gray-100 text-gray-700"
                                                    data-id-venta="{{ venta.id_venta }}"
                                                    onclick="verDetallesVenta(this)">
                                                    <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg"
                                                        viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M5 4a2 2 0 100 4 2 2 0 000-4zM2 10a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 10z" />
                                                    </svg>
                                                    Detalles
                                                </button>
                                            </li>
                                            {% endif %}
                                            {% if request.user.is_superuser or 'Facturador' in grupos_usuario %}
                                            <li>
                                                <form action="{% url 'ventas:enviar_factura_prueba' venta.id_venta %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit"
                                                            class="flex w-full items-center py-2 px-4 hover:bg-gray-100 text-gray-700">
                                                        <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg"
                                                            viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M5 4a2 2 0 100 4 2 2 0 000-4zM2 10a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 10z" />
                                                        </svg>
                                                        Generar Factura
                                                    </button>
                                                </form>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Paginación HTML -->
                {% include 'paginacion.html' %}
            </div>
        </div>
    </section>

    {% for venta in ventas %}
    <div id="editarMetodoPagoModal-{{ venta.id_venta }}" tabindex="-1" aria-hidden="true"
        class="fixed inset-0 hidden justify-center items-center z-50 w-full h-full overflow-x-hidden overflow-y-auto">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <div class="relative p-4 rounded-lg shadow bg-gray-800 sm:p-5">
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 border-gray-600">
                    <h3 class="text-lg font-semibold text-white">Actualizar Método de Pago</h3>
                    <!-- ... (código del botón de cierre) ... -->
                                         <!-- Botón de cerrar (cruz) en la parte superior derecha -->
                    <button data-modal-toggle="editarMetodoPagoModal-{{ venta.id_venta }}" type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-600 hover:text-white rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                    aria-label="Close">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Cerrar</span>
                </button>
                </div>
            <input type="hidden" name="id_venta" value="{{ venta.id_venta }}">
            <form action="{% url 'ventas:editarMetodoPago' venta.id_venta %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_venta" value="{{ venta.id_venta }}">
                <div class="grid gap-4 mb-4">
                    <div>
                        <label for="metodo_pago" class="block mb-2 text-sm font-medium text-white">Método de Pago</label>
                        <select id="metodo_pago" name="metodo_pago"
                            class="border border-gray-300 text-sm rounded-lg block w-full p-2 bg-gray-700 placeholder-gray-400 text-white">
                            <option value="">Seleccionar Método de Pago</option>
                            {% for metodo in metodos_pago %}
                                <option value="{{ metodo.id }}" {% if venta.id_metodo_pago == metodo.id %}selected{% endif %}>
                                    {{ metodo.nombre }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            
                <div class="flex justify-end pt-4 border-t border-gray-600">
                    <button type="submit"
                        class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        Guardar cambios
                    </button>
                </div>
            </form>
            </div>
        </div>
    </div>
    {% endfor %}
    


    {% for venta in ventas %}
    <div id="verVentaModal-{{ venta.id_venta }}" tabindex="-1" aria-hidden="true"
        class="fixed inset-0 hidden justify-center items-center z-50 w-full h-full overflow-x-hidden overflow-y-auto">
        <div class="relative p-4 w-full max-w-4xl max-h-full">
            <div class="relative p-4 rounded-lg shadow bg-gray-800 sm:p-5">
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 border-gray-600">
                    <h3 class="text-lg font-semibold text-white">Detalles de la Venta</h3>
                    <!-- Botón de cerrar (cruz) en la parte superior derecha -->
                    <button data-modal-toggle="verVentaModal-{{ venta.id_venta }}" type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-600 hover:text-white rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                        aria-label="Close">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Cerrar</span>
                    </button>
                </div>
                <!-- Tabla de los detalles de venta -->
               <!-- <p class="text-gray-400">Total de detalles: {{ venta.detalles|length }}</p> <!-- Aquí se muestra la longitud -->
                <div class="overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-400">
                        <thead class="text-xs text-white-700 uppercase bg-gray-700">
                            <tr>
                                <!--<th scope="col" class="px-4 py-4">Detalle venta</th>-->
                                <th scope="col" class="px-4 py-4">Método de Pago</th>
                                <th scope="col" class="px-4 py-4">Servicio</th>
                                <th scope="col" class="px-4 py-4">Cantidad</th>
                                <th scope="col" class="px-4 py-4">Precio</th>
                                <th scope="col" class="px-4 py-4">Costo Extra</th>
                                <th scope="col" class="px-4 py-4">Estado de Venta</th>
                                <th scope="col" class="px-4 py-4">Cambiar Estado de la Venta</th>
                                <th scope="col" class="px-4 py-4">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in venta.detalles %}
                            <tr>
                                <!--<td class="px-4 py-3">{{ detalle.id_detalle_venta}}</td>-->
                                <td class="px-4 py-3">{{ venta.nombre_metodo_pago|default:"-" }}</td>
                                <td class="px-4 py-3">{{ detalle.nombre_servicio }}</td>
                                <td class="px-4 py-3">{{ detalle.cantidad_detalle_venta }}</td>
                                <td class="px-4 py-3">{{ detalle.precio_detalle_venta }}</td>
                                <td class="px-4 py-3">{{ detalle.costo_extra_detalle_venta }}</td>
                                <td class="px-4 py-3">{{ detalle.descripcion_estado_venta|default:"No definido" }}</td>
                                <td class="px-4 py-3">
                                    <!-- Selector de estado -->
                                    <form action="{% url 'ventas:cambiarEstadoRegistroVenta' detalle.id_detalle_venta %}" method="POST">
                                        {% csrf_token %}
                                        <select id="estado_venta_{{ detalle.id_detalle }}" 
                                                name="estado_venta"
                                                class="border border-gray-300 text-sm rounded-lg block w-full p-2 {% if detalle.id_estado_venta == 4 %}bg-gray-600{% else %}bg-gray-700{% endif %} placeholder-gray-400 text-white"
                                                onchange="this.form.submit()"
                                                {% if detalle.id_estado_venta == 4 %}disabled{% endif %}>
                                            <option value="">Seleccionar Estado</option>
                                            {% for estado in estados_venta %}
                                                <option value="{{ estado.id }}" 
                                                        {% if detalle.estado_venta == estado.nombre %}selected{% endif %}>
                                                    {{ estado.nombre }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                </td>
                                <td class="px-4 py-3 relative">
                                    <button id="{{ detalle.id_detalle_venta }}-dropdown-button" data-dropdown-toggle="{{ detalle.id_detalle_venta }}-dropdown" class="inline-flex items-center text-sm font-medium hover:bg-gray-100 p-1.5 text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none" type="button">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                        </svg>
                                    </button>
                                    <div id="{{ detalle.id_detalle_venta }}-dropdown"
                                        class="absolute hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow mt-1 left-0 overflow-hidden">
                                        <ul class="py-1 text-sm text-gray-700"
                                            aria-labelledby="{{ detalle.id_detalle_venta }}-dropdown-button">
                                            <li>
                                                <button type="button" data-modal-target="observacionesDetalleVentaModal_{{ detalle.id_detalle_venta}}" data-modal-toggle="observacionesDetalleVentaModal_{{ detalle.id_detalle_venta }}" class="flex w-full items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark: hover:text-gray-900 text-gray-700 dark:text-gray-200">
                                                    <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h9M5 9h5m8-8H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h4l3.5 4 3.5-4h5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                                                    </svg>
                                                    Observaciones
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                

                                    <!-- Botón para enviar el cambio de estado 
                                    <button type="button" 
                                            class="text-white bg-green-700 inline-flex items-center hover:bg-green-800 font-medium rounded-lg text-s px-3 py-1.5 mt-1" 
                                            onclick="submitEstadoCambio('{{ detalle.id_detalle }}')">
                                        <svg class="mr-1 w-4 h-4" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3 17.25V21h3.75l10.547-10.547-3.75-3.75L3 17.25zM21.707 4.293a1 1 0 0 0 0-1.414l-2.586-2.586a1 1 0 0 0-1.414 0l-2.793 2.793 3.75 3.75 2.793-2.793z" fill="#ffffff"/>
                                        </svg>
                                        Editar
                                    </button>-->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
{% endfor %}


{% for venta in ventas %}
    {% for detalle in venta.detalles %}
        <div id="observacionesDetalleVentaModal_{{ detalle.id_detalle_venta }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 items-center justify-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative p-4 rounded-lg shadow bg-gray-800 sm:p-5">
                    <!-- Modal header -->
                    <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                        <h3 class="text-lg font-semibold text-white">Observaciones de {{ detalle.nombre_servicio }}</h3>
                        <div class="flex items-center">  <!-- Contenedor para los botones -->
                            <button type="button" id="agregarObservacionBoton" data-modal-target="agregarObservacionModal_{{ detalle.id_detalle_venta }}" data-modal-toggle="agregarObservacionModal_{{ detalle.id_detalle_venta }}" 
                                    class="flex items-center justify-center text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">
                                <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                                </svg>
                                Añadir Observación
                            </button>
                            <button type="button" class="text-gray-200 bg-transparent hover:text-gray-700 rounded-lg text-sm p-1.5 ml-4 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="observacionesDetalleVentaModal_{{ detalle.id_detalle_venta }}">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                                <span class="sr-only">Cerrar</span>
                            </button>
                        </div>
                    </div>                                        <!-- Modal body -->
                    <div class="overflow-x-auto"> 
                        <table class="w-full text-sm text-left text-gray-400">
                            <thead class="text-xs text-white-700 uppercase bg-gray-700">
                                <tr class="border-b"> 
                                    <th scope="col" class="px-4 py-4">Fecha</th>
                                    <th scope="col" class="px-4 py-4">Hora</th>
                                    <th scope="col" class="px-4 py-4">Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for observacion in detalle.observaciones %}
                                <tr class="border-b">
                                    <td class="px-4 py-3"> {{ observacion.fecha_observacion }}</td>
                                    <td class="px-4 py-3"> {{ observacion.hora_observacion }}</td>
                                    <td class="px-4 py-3"> {{ observacion.descripcion_observacion }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}


<!-- Agregar observacion modal -->
{% for venta in ventas %}
    {% for detalle in venta.detalles %}
    <div id="agregarObservacionModal_{{ detalle.id_detalle_venta }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full" style="top: -220px; /* Ajusta este valor según lo que necesites */">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative p-4 rounded-lg shadow bg-gray-800 sm:p-5">
                <!-- Modal header -->
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-white">Agregar Observacion a {{detalle.id_detalle_venta}}</h3>
                    <button type="button" class="text-gray-200 bg-transparent hover:text-gray-700 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-target="agregarObservacionModal_{{ detalle.id_detalle_venta}}" data-modal-toggle="agregarObservacionModal_{{ detalle.id_detalle_venta}}">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Cerrar</span>
                    </button>
                </div>
                <!-- Modal body -->
                    <form id="ObservacionForm" action="{% url 'ventas:agregarObservacionDetalleVenta' detalle.id_detalle_venta %}" method="POST">
                    <div class="grid gap-4 mb-4 sm:grid-cols-2">
                        {% csrf_token %}
                        <div class="mb-0">
                            <label for="descripcion_observacion" class="block mb-2 text-sm font-medium text-white">Descripción</label>
                            <input type="textarea" name="descripcion_observacion" id="descripcion_observacion" class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white" placeholder="Ingrese su observación aquí..." required>
                        </div>      

                    <div class="flex justify-end mb-4">
                        <button type="submit" class="text-white bg-green-800 inline-flex items-center hover:bg-green-900 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            <svg class="mr-1 w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                            </svg>
                            Agregar Observacion
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
{% endfor %}

<div id="messages-data" data-has-messages="{% if messages %}true{% else %}false{% endif %}" style="display: none;"></div>
<div id="small-modal" tabindex="-1" data-modal-target="small-modal"class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative rounded-lg shadow bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
                <h3 class="text-xl font-medium text-white">
                    ANUNCIO
                </h3>
                <button type="button" class="text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center hover:bg-gray-600 hover:text-white" data-modal-hide="small-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                {% if messages %}
                    {% for message in messages %}
                    <p class="text-base leading-relaxed text-gray-400">
                        {{ message }}
                    </p>
                    {% endfor %}
                {% endif %}

            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t rounded-b border-gray-600">
                <button data-modal-hide="small-modal" type="button" class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
//para mostrar el mensaje de exito o error
function showModal() {
    const modal = document.getElementById('small-modal');
    modal.classList.remove('hidden');
}

function hideModal() {
    const modal = document.getElementById('small-modal');
    modal.classList.add('hidden');
}

document.addEventListener('DOMContentLoaded', function () {
    const messagesData = document.getElementById('messages-data');
    const hasMessages = messagesData.dataset.hasMessages === 'true';
    
    if (hasMessages) {
        showModal();
    }

    const closeButtons = document.querySelectorAll('[data-modal-hide="small-modal"]');
    closeButtons.forEach(button => {
        button.addEventListener('click', hideModal);
    });

    window.addEventListener('click', function(event) {
        const modal = document.getElementById('small-modal');
        if (event.target === modal) {
            hideModal();
        }
    });
});

function verDetallesVenta(button) {
    const ventaId = button.getAttribute('data-id-venta');
    console.log("ID de venta:", ventaId);
    const modalId = `verVentaModal-${ventaId}`;
    const modal = document.getElementById(modalId);
    if (modal.classList.contains('hidden')) {
        modal.classList.remove('hidden');
        modal.classList.add('flex');
    } else {
        modal.classList.add('hidden');
        modal.classList.remove('flex');
    }
}


function setupEditVentaHandlers(button) {
    const ventaId = button.getAttribute('data-id-venta-editar');
}

function verObservaciones(button) {
    const detalleId = button.getAttribute('data-modal-target');
    console.log("ID de detalle para el modal de observaciones:", detalleId);
}

    </script>
</body>
</html>
{% endblock %}